![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Answers" data-toc-modified-id="Answers-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Answers</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-All-the-companies-that-it's-name-match-'Babelgum'.-Retrieve-only-their-name-field." data-toc-modified-id="1.-All-the-companies-that-it's-name-match-'Babelgum'.-Retrieve-only-their-name-field.-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>1. All the companies that it's name match 'Babelgum'. Retrieve only their <code>name</code> field.</a></span></li><li><span><a href="#2.-All-the-companies-that-have-more-than-5000-employees.-Limit-the-search-to-20-companies-and-sort-them-by-number-of-employees." data-toc-modified-id="2.-All-the-companies-that-have-more-than-5000-employees.-Limit-the-search-to-20-companies-and-sort-them-by-number-of-employees.-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by <strong>number of employees</strong>.</a></span></li><li><span><a href="#3.-All-the-companies-founded-between-2000-and-2005,-both-years-included.-Retrieve-only-the-name-and-founded_year-fileds." data-toc-modified-id="3.-All-the-companies-founded-between-2000-and-2005,-both-years-included.-Retrieve-only-the-name-and-founded_year-fileds.-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>3. All the companies founded between 2000 and 2005, both years included. Retrieve only the <code>name</code> and <code>founded_year</code> fileds.</a></span></li><li><span><a href="#4.-All-the-companies-that-had-a-Valuation-Amount-of-more-than-100.000.000-and-have-been-founded-before-2010.-Retrieve-only-the-name-and-ipo-fields." data-toc-modified-id="4.-All-the-companies-that-had-a-Valuation-Amount-of-more-than-100.000.000-and-have-been-founded-before-2010.-Retrieve-only-the-name-and-ipo-fields.-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the <code>name</code> and <code>ipo</code> fields.</a></span></li><li><span><a href="#5.-All-the-companies-that-have-less-than-1000-employees-and-have-been-founded-before-2005.-Order-them-by-the-number-of-employees-and-limit-the-search-to-10-companies." data-toc-modified-id="5.-All-the-companies-that-have-less-than-1000-employees-and-have-been-founded-before-2005.-Order-them-by-the-number-of-employees-and-limit-the-search-to-10-companies.-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.</a></span></li><li><span><a href="#6.-All-the-companies-that-don't-include-the-partners-field." data-toc-modified-id="6.-All-the-companies-that-don't-include-the-partners-field.-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>6. All the companies that don't include the <code>partners</code> field.</a></span></li><li><span><a href="#7.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field." data-toc-modified-id="7.-All-the-companies-that-have-a-null-type-of-value-on-the-category_code-field.-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>7. All the companies that have a null type of value on the <code>category_code</code> field.</a></span></li><li><span><a href="#8.-All-the-companies-that-have-at-least-100-employees-but-less-than-1000.-Retrieve-only-the-name-and-number-of-employees-fields." data-toc-modified-id="8.-All-the-companies-that-have-at-least-100-employees-but-less-than-1000.-Retrieve-only-the-name-and-number-of-employees-fields.-1.0.8"><span class="toc-item-num">1.0.8&nbsp;&nbsp;</span>8. All the companies that have at least 100 employees but less than 1000. Retrieve only the <code>name</code> and <code>number of employees</code> fields.</a></span></li><li><span><a href="#9.-Order-all-the-companies-by-their-IPO-price-descendently." data-toc-modified-id="9.-Order-all-the-companies-by-their-IPO-price-descendently.-1.0.9"><span class="toc-item-num">1.0.9&nbsp;&nbsp;</span>9. Order all the companies by their IPO price descendently.</a></span></li><li><span><a href="#10.-Retrieve-the-10-companies-with-more-employees,-order-by-the-number-of-employees" data-toc-modified-id="10.-Retrieve-the-10-companies-with-more-employees,-order-by-the-number-of-employees-1.0.10"><span class="toc-item-num">1.0.10&nbsp;&nbsp;</span>10. Retrieve the 10 companies with more employees, order by the <code>number of employees</code></a></span></li></ul></li></ul></li></ul></div>

In [5]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

In [7]:
list(db.list_collections())

[{'name': 'companies',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('1cde0c3d-3db8-41c5-aff8-e8fbbb3bb0dd')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
query = {"name":{"$eq":"Babelgum"}}
query

{'name': {'$eq': 'Babelgum'}}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [13]:
query2 = {"number_of_employees":{"$gte":5000}}
list2 = list(db["companies"].find(query2).sort("number_of_employees",1).limit(20))
#list2[0]
#I don't print it because it would be infinite

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [14]:
query3 = {"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]}
list(db["companies"].find(query3,{"_id":0,"name":1,"founded_year":1}).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [15]:
query4 = {"$and":[{"ipo.valuation_amount":{"$gte":100000000}}, {"founded_year":{"$gte":2000}}]}
list(db["companies"].find(query4,{"_id":0,"name":1,"ipo.valuation_amount":1}).sort("nipo.valuation_amount",-1).limit(5))

[{'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [16]:
query5 = {"$and":[{"number_of_employees":{"$lte":1000}}, {"founded_year":{"$lte":2005}}]}
list(db["companies"].find(query5,{"_id":0,"name":1,"number_of_employees":1, "founded_year":1}).sort("number_of_employees",-1).limit(10))

[{'name': 'Omniture', 'number_of_employees': 1000, 'founded_year': 1996},
 {'name': 'Telenav', 'number_of_employees': 1000, 'founded_year': 1999},
 {'name': 'Gumtree', 'number_of_employees': 1000, 'founded_year': 2005},
 {'name': 'SK Net Service Company Ltd',
  'number_of_employees': 1000,
  'founded_year': 2001},
 {'name': 'Yodle', 'number_of_employees': 1000, 'founded_year': 2005},
 {'name': "OC'LIANE", 'number_of_employees': 1000, 'founded_year': 2003},
 {'name': 'FANUC Robotics America',
  'number_of_employees': 1000,
  'founded_year': 1982},
 {'name': 'Antal International',
  'number_of_employees': 1000,
  'founded_year': 1993},
 {'name': 'Sonus Networks', 'number_of_employees': 1000, 'founded_year': 1997},
 {'name': 'Akamai Technologies',
  'number_of_employees': 1000,
  'founded_year': 1998}]

### 6. All the companies that don't include the `partners` field.

In [17]:
query6 = {"partners": {"$exists": False }}
list(db["companies"].find(query6))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [18]:
query7 = {"category_code": { "$type": "null" }}
list(db["companies"].find(query7,{"_id":0,"name":1,"category_code":1}).limit(5))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [19]:
query8 = {"$and":[{"number_of_employees":{"$gte":100}}, {"number_of_employees":{"$lte":1000}}]}
list(db["companies"].find(query8,{"_id":0,"name":1,"number_of_employees":1}).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price descendently.

In [21]:
 query9= {"ipo.valuation_amount":{"$gte":0}}
list(db["companies"].find(query9,{"_id":0,"name":1,"ipo.valuation_amount":1}).sort("ipo.valuation_amount",-1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [22]:
query10 = {"number_of_employees":{"$gte":0}}
list(db["companies"].find(query10,{"_id":0,"name":1,"number_of_employees":1}).sort("number_of_employees",-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]